/*-------------------------------------
| Parallax Effect
-------------------------------------*/
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

.parallax {
    /* The image used */
    background-image: url("../img/BG_1.jpg");
    opacity: .75;

    /* Full height */
    /*height: 61.5%; */
    height: 92.5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

/*-------------------------------------
| index.php CSS
-------------------------------------*/
nav.navbar.navbar-inverse {
    margin-bottom: 0px;
}

.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.parallax {
   text-align: center;
}

.parallaxContent {
   padding-top: 60%;
}

.parallaxContent p {
   font-size: 2.5em;
   color: #fff;
   padding-bottom: 1em;
}

.parallaxContent button {
   font-size: 1.5em;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #519fb7;
}

.parallaxContent button a {
   color: #fff;
}

.parallaxContent button a:hover {
   color: #519fb7;
   text-decoration: none;
}

.parallaxContent button:hover {
   background-color: #fff;
}