/*-------------------------------------
| Parallax Effect
-------------------------------------*/
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

.parallaxAbout {
   /* The image used */
   background-image: url("../img/slideBGimg_3.jpg");
   opacity: .9;

   /* Full height */
   /*height: 61.5%; */
   height: 100%;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}

.parallaxAbout a{
   font-size: 1.5em;
}

.parallaxContact {
    /* The image used */
    background-image: url("../img/contactPage_BGimg.jpg");
    opacity: .9;

    /* Full height */
    /*height: 61.5%; */
    height: 92.5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.parallaxServices {
   /* The image used */
   background-image: url("../img/servicesPage_BGimg.jpg");
   opacity: .9;

   /* Full height */
   /*height: 61.5%; */
   height: 92.5%;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}

/*-------------------------------------
| index.php CSS
-------------------------------------*/
#services a {
   color: #f8792c;
}

#services a:hover {
   color: #014f67;
   text-decoration: none;
}

div.navbar-header .navbar-toggle .icon-bar {
	display: block;
	width: 42px;
	height: 2px;
	border-radius: 1px;
	margin-bottom: 0.8em;
}

div.navbar-header .navbar-toggle {
   padding-top: 1em;
   padding-bottom: 0em;
}

nav.navbar.navbar-inverse {
    margin-bottom: 0px;
    background-color: #035872;
    border: none;
    border-radius: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
}

ul.nav.navbar-nav {
   text-align: center;
   margin-bottom: 0;
   margin-top: 0;
}

.navbar-inverse a.navbar-brand {
    color: #fff;
}

.navbar-inverse button.navbar-toggle {
    border: none;
}

.navbar-inverse button.navbar-toggle:focus,
   .navbar-inverse button.navbar-toggle:hover {
    background-color: #014f67;
}

.navbar-inverse .navbar-nav>.active>a:focus,
   .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #014f67;
}

ul.nav.navbar-nav li a{
   color: #fff;
}

ul.nav.navbar-nav li.active a,
   ul.nav.navbar-nav li.active a:hover{
   background-color: #fff;
   color: #035872;
}

.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.parallaxAbout {
   text-align: center;
   padding: 1.5em;
}

.parallaxServices {
   text-align: center;
   padding: 1.5em;
}

.parallaxContact {
   text-align: center;
   padding: 1.5em;
}

.parallaxContentHome {
   padding-top: 30%;
   position: absolute;
   left: 10%;
   right: 10%;
   z-index: 1;
   text-align: center;
}

.parallaxContentHome p {
   font-size: 2em;
   color: #fff;
   background-color: rgba(248,121,44,0.5);
   margin-bottom: 1em;
   padding: 1em 1em 1em 1em;
   text-shadow: 0px 2px #010304;
   font-family: 'Poppins', sans-serif;
   display: none;
}

.parallaxContentHome a button {
   font-size: 1.25em;
   color: #fff;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #f8792c;
   display: none;
}

.parallaxContentHome a button:hover {
   color: #f8792c;
   background-color: #fff;
   text-decoration: none;
   transition: .5s;
   cursor: pointer;
}

.parallaxContent {
   padding-top: 30%;
   z-index: 1;
}

.parallaxContent a button {
   color:#fff;
}

.parallaxContent p {
   font-size: 2.5em;
   color: #fff;
   background-color: rgba(248,121,44,0.5);
   margin-bottom: 1em;
   padding: 1em 1em 1em 1em;
   text-shadow: 0px 2px #010304;
   font-family: 'Poppins', sans-serif;
   display: none;
}

.parallaxContent button {
   font-size: 1.25em;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #f8792c;
   display: none;
}

.parallaxContent button a {
   color: #fff;
}

.parallaxContent a button:hover {
   color: #f8792c;
   text-decoration: none;
   transition: .5s;
   cursor: pointer;
}

.parallaxContent button:hover {
   background-color: #fff;
   transition: .5s;
   cursor: pointer;
}

/*Slideshow Effect CSS---*/
.item h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item {
    display: none;
    position: relative;
    .transition(3s ease-in-out left);
}

.carousel {
   height: 100%;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   display: none;
}

.carousel-inner {
  opacity: 1;
  z-index: 0;
  margin-bottom: none;
}

.carousel-indicators {
   bottom: 20px !important;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: -1em;
}

@media only screen and (min-width: 768px) {
   /*For Desktop*/
nav.navbar.navbar-inverse {
   position: relative;
}

   ul.nav.navbar-nav {
       float: right;
       margin-top: 0em;
       margin-bottom: 0em;
       padding-top: 1.1em;
   }

   ul.nav.navbar-nav li.active a, ul.nav.navbar-nav li.active a:hover {
      border-bottom: solid 3px #f8792c;
      background-color: #035872;
      color: #fff;
   }

   ul.nav.navbar-nav li a:hover {
      border-bottom: solid 3px #fff;
      background-color: #035872;
      color: #fff;
   }

div.navbar-header  {
   padding-top: 0em;
   padding-bottom: 2.2em;
}

   .parallaxContentHome {
      padding-top: 15em;
      margin-left: 10em;
      margin-right: 10em;
   }

   .parallaxContentHome p {
      font-size: 3em;
      color: #fff;
      background-color: rgba(248,121,44,0.5);
      margin-bottom: 1em;
      padding: 1em 1em 1em 1em;
      text-shadow: 0px 2px #010304;
      font-family: 'Poppins', sans-serif;
      display: none;
   }

   .parallaxContent {
      padding-top: 13.5em;
      margin-left: 13em;
      margin-right: 13em;
   }

   .carousel-control.left, .carousel-control.right {
      display: block;
   }
}

@media only screen and (min-width: 600px) {
/*For Tablet*/
   .parallaxContentHome {
      padding-top: 15em;
   }

   .parallaxContentHome p {
      font-size: 2.5em;
      color: #fff;
      background-color: rgba(248,121,44,0.5);
      margin-bottom: 1em;
      padding: 1em 1em 1em 1em;
      text-shadow: 0px 2px #010304;
      font-family: 'Poppins', sans-serif;
      display: none;
   }
}

/*-------------------------------------
| about.php CSS
-------------------------------------*/
#experience {
	background-color: #f8792c;
}

.carLogos {
   text-align: center;
}

.info {
   padding: 25px;
   background-color: rgba(211, 212, 243, 0.27);
}
@media only screen and (min-width: 768px) {
/*For Desktop*/
   .infoBox {
      display: flex;
   }

   .infoBox .info {
      flex: 2;
      width: 50%;
   }

   .carLogos {
      text-align: center;
      padding-top: 1.5em;
   }
}

@media only screen and (min-width: 600px) {
/*For Tablet*/
   .carLogos {
      text-align: center;
      padding-top: 1.5em;
   }
}
/*-------------------------------------
| contact.php CSS
-------------------------------------*/
div.email a{
   font-size: 1em;
   color: #fff;
   text-align: center;
   display: inline-block;
   margin-top: 1em;
}

div.email p {
   padding-left: 10px;
   letter-spacing: 1px;
}

div.number p {
   padding-left: 10px;
   letter-spacing: 1px;
}

div.number a {
   color: #fff;
   display: inline-block;
}

div.email a:hover {
   color: #f8792c;
   text-decoration: none;
}

div.number a:hover {
   color: #f8792c;
   text-decoration: none;
}

div.number {
   font-size: 1em;
   color: #fff;
   text-align: center;

   margin-top: 1em;
}

div.number i {
   margin-bottom: .4em;
}

div.email i {
   margin-bottom: .5em;
   color: #fff;
}

.contact {
   /*background-color: red;*/
   width: 70%;
   text-align: center;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 2em;
}
/*-------------------------------------
| services.php CSS
-------------------------------------*/
.services {
   background-color: rgba(211, 212, 243, 0.27);
   /*padding: 1.2em;*/
}

.parent {
   padding: 2em;
   position: relative;
   height: 240px;
}

.parentHome {
   padding: 2em;
   position: relative;
   height: 240px;
}

.shade {
   background-color: rgb(250, 200, 150);
}

.parent h2 {
   margin-top: 0px;
   position: relative;
   padding-left: 1.7em;
   font-family: 'Poppins', sans-serif;
}

.parent h3 {
   margin-top: 0px;
   position: relative;
   padding-left: 1.7em;
   font-family: 'Poppins', sans-serif;
}

.parentHome h3 {
   margin-top: 0px;
   position: relative;
   font-family: 'Poppins', sans-serif;
}

.parent p {
   margin-top: 1em;
   font-family: 'Poppins', sans-serif;
}

.carAlertIcons {
   position: absolute;
   margin-top: -6px;
}

.prices {
   font-size: 1.75em;
   color: #f8792c;
}

@media only screen and (min-width: 768px) {
   /*For Desktop*/
   .services {
      display: flex;
   }

   .parentHome {
      padding: 2em;
      position: relative;
      height: 220px;
   }

   .flexParents {
      flex: 4;
   }

   .splitParent {
      display: block;
   }

   .parent {
      height: 240px;
   }
}

@media only screen and (min-width: 833) {
   .parent {
      height: 240px;
   }
}
/*-------------------------------------
| footer CSS
-------------------------------------*/
footer {
   text-align: center;
   padding: 10px 10px 10px 0px;
   margin-bottom: 0px;
   background-color: #035872;
}

.footerLogo {
   padding: 4em 0em 4em 0em;
}

div.emailTop {
   display: none;
}

div.numberTop {
   display: none;
}

@media only screen and (min-width: 768px) {
   /*For Desktop*/
   .footerLogo {
      position: absolute;
      right: 2em;
   }

   .socialLinks {
      float: left;
      padding-left: 2em;
      padding-top: 2em;
      text-align: left;
   }

   i#socialLinks.fa {
    margin-right: 1.5em;
    margin-top: 1em;
    margin-left: 0;
}

   footer {
      height: 31.5%;
   }

   div.email {
      display: none;
   }

   div.number {
      display: none;
   }

   div.emailTop {
      float: left;
      display: block;
   }

   div.numberTop {
      float: right;
      display: block;
   }

   div.emailTop a{
      font-size: 1em;
      color: #f8792c;
      text-align: center;
      display: inline-block;
      margin-top: 1em;
   }

   div.emailTop p {
      padding-left: 10px;
      font-size: 1.2em;
      letter-spacing: 1px;
   }


   div.numberTop a{
      font-size: 1em;
      color: #f8792c;
      text-align: center;
      display: inline-block;
      margin-top: 1em;
      letter-spacing: 1px;
   }

   div.numberTop a:hover {
      border-bottom: 3px #f8792c solid;
      text-decoration: none;
   }

   div.emailTop a:hover {
      border-bottom: 3px #f8792c solid;
      text-decoration: none;
   }

   div.numberTop p {
      padding-left: 10px;
      font-size: 1.2em;
   }
   div.number i {
      margin-bottom: .4em;
   }

   i.fa.fa-mobile {
      margin-bottom: .5em;
      color: #f8792c;
   }

   i.fa.fa-envelope {
      margin-bottom: .5em;
      color: #f8792c;
   }
}

a i#socialLinks {
   font-size: 3em;
   margin-bottom: .7em;
   margin-top: .7em;
   margin-right: .5em;
   margin-left: .5em;
   transition: .5s;
   color: #fff;
}

a i#socialLinks:hover {
   color: #f8792c;
   cursor: pointer;
}

.copyright {
   color: #fff;
   margin-top: 1em;
}

#submitButton {
   font-size: 1.25em;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #f8792c;
   color: #fff;
   margin-left: -1em;
}

#submitButton:hover {
   background-color: #fff;
   transition: .5s;
   border: solid 3px #f8792c;
   cursor: pointer;
   color: #f8792c;
}
