/*-------------------------------------
| Parallax Effect
-------------------------------------*/
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

.parallax {
    /* The image used */
    background-image: url("../img/BG_1.jpg");
    opacity: .75;

    /* Full height */
    /*height: 61.5%; */
    height: 92.5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

/*-------------------------------------
| index.php CSS
-------------------------------------*/
nav.navbar.navbar-inverse {
    margin-bottom: 0px;
}

.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.parallax {
   text-align: center;
   padding: 1.5em;
}

.parallaxContent {
   padding-top: 40%;
}

.parallaxContent p {
   font-size: 3em;
   color: #fff;
   padding-bottom: 1em;
   text-shadow: 0px 2px #010304;
   font-family: 'Rajdhani', sans-serif;
}

.parallaxContent button {
   font-size: 1.5em;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #519fb7;
}

.parallaxContent button a {
   color: #fff;
}

.parallaxContent button a:hover {
   color: #519fb7;
   text-decoration: none;
}

.parallaxContent button:hover {
   background-color: #fff;
}

/*Slideshow Effect CSS---*/
.item h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel-inner {
  opacity: .75;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*-------------------------------------
| about.php CSS
-------------------------------------*/
.experience {
	background-color: #dae1ef;
   border-top: solid 1px #1a1a1a;
}

.info {
   padding: 5px 15px 15px 15px;
}

/*-------------------------------------
| contact.php CSS
-------------------------------------*/
div.email {
   font-size: 1em;
   float: left;
   display: flex;
   margin-top: 1em;
}

div.email p {
   padding-left: 10px;
}

div.number p {
   padding-left: 10px;
}

div.number {
   font-size: 1em;
   float: right;
   display: flex;
   margin-top: 1em;
}

.contact {
   /*background-color: red;*/
   width: 70%;
   text-align: center;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 2em;
}
/*-------------------------------------
| services.php CSS
-------------------------------------*/
.services {
   background-color: rgba(211, 212, 243, 0.27);
   /*padding: 1.2em;*/
}

.parent {
   padding: 1em 1em 1em 1em;
}

.shade {
   background-color: rgb(250, 200, 150);
}
/*-------------------------------------
| footer CSS
-------------------------------------*/
.copyright {
   text-align: center;
   padding: 10px 10px 10px 0px;
   margin-bottom: 0px;
   background-color: #1a1a1a;
   color: #fff;
}