/*-------------------------------------
| Parallax Effect
-------------------------------------*/
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

.parallax {
    /* The image used */
    background-image: url("../img/BG_1.jpg");
    opacity: .75;

    /* Full height */
    /*height: 61.5%; */
    height: 92.5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

/*-------------------------------------
| index.php CSS
-------------------------------------*/
nav.navbar.navbar-inverse {
    margin-bottom: 0px;
    background-color: #0086af;
    border: none;
}

ul.nav.navbar-nav {
   text-align: center;
   margin-bottom: 0;
   margin-top: 0;
}

.navbar-inverse a.navbar-brand {
    color: #fff;
}

.navbar-inverse button.navbar-toggle {
    border: none;
}

.navbar-inverse button.navbar-toggle:focus,
   .navbar-inverse button.navbar-toggle:hover {
    background-color: #014f67;
}

.navbar-inverse .navbar-nav>.active>a:focus,
   .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #014f67;
}

ul.nav.navbar-nav li a{
   color: #fff;
}

ul.nav.navbar-nav li.active a,
   ul.nav.navbar-nav li.active a:hover{
   background-color: #fff;
   color: #0086af;
}

.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.parallax {
   text-align: center;
   padding: 1.5em;
}

.parallaxContentHome {
   padding-top: 40%;
   position: absolute;
   left: 10%;
   right: 10%;
   z-index: 1;
   text-align: center;
}
.parallaxContentHome p {
   font-size: 3em;
   color: #fff;
   padding-bottom: 1em;
   text-shadow: 0px 2px #010304;
   font-family: 'Rajdhani', sans-serif;
   display: none;
}

.parallaxContentHome button {
   font-size: 1.25em;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #0086af;
   display: none;
}

.parallaxContentHome button a {
   color: #fff;
}

.parallaxContentHome button a:hover {
   color: #0086af;
   text-decoration: none;
   transition: .5s;
   cursor: pointer;
}

.parallaxContentHome button:hover {
   background-color: #fff;
   transition: .5s;
   border: solid 3px #0086af;
   cursor: pointer;
}

.parallaxContent {
   padding-top: 40%;
}

.parallaxContent p {
   font-size: 3em;
   color: #fff;
   padding-bottom: 1em;
   text-shadow: 0px 2px #010304;
   font-family: 'Rajdhani', sans-serif;
   display: none;
}

.parallaxContent button {
   font-size: 1.25em;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #0086af;
   display: none;
}

.parallaxContent button a {
   color: #fff;
}

.parallaxContent button a:hover {
   color: #0086af;
   text-decoration: none;
   transition: .5s;
   cursor: pointer;
}

.parallaxContent button:hover {
   background-color: #fff;
   transition: .5s;
   border: solid 3px #0086af;
   cursor: pointer;
}

/*Slideshow Effect CSS---*/
.item h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   display: none;
}

.carousel-inner {
  opacity: .75;
  index: 0;
  margin-bottom: none;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*-------------------------------------
| about.php CSS
-------------------------------------*/
.experience {
	background-color: rgb(250, 200, 150);
}

.info {
   padding: 5px 15px 15px 15px;
}

/*-------------------------------------
| contact.php CSS
-------------------------------------*/
div.email {
   font-size: 1em;
   float: left;
   display: flex;
   margin-top: 1em;
}

div.email p {
   padding-left: 10px;
}

div.number p {
   padding-left: 10px;
}

div.number {
   font-size: 1em;
   float: right;
   display: flex;
   margin-top: 1em;
}

.contact {
   /*background-color: red;*/
   width: 70%;
   text-align: center;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 2em;
}
/*-------------------------------------
| services.php CSS
-------------------------------------*/
.services {
   background-color: rgba(211, 212, 243, 0.27);
   /*padding: 1.2em;*/
}

.parent {
   padding: 1em 1em 1em 1em;
}

.shade {
   background-color: rgb(250, 200, 150);
}

.parent h2 {
   margin-top: 10px;
}
/*-------------------------------------
| footer CSS
-------------------------------------*/
footer {
   text-align: center;
   padding: 10px 10px 10px 0px;
   margin-bottom: 0px;
   background-color: #0086af;
}

a i#socialLinks {
   font-size: 2.5em;
   margin-bottom: .7em;
   margin-top: .7em;
   margin-right: .5em;
   margin-left: .5em;
   transition: .5s;
   color: #fff;
}

a i#socialLinks:hover {
   color: #014f67;
   font-size: 3em;
   cursor: pointer;
}

.copyright {
   color: #fff;
}

#submitButton {
   font-size: 1.25em;
   border: none;
   border-radius: 25px;
   padding: 10px 20px 10px 20px;
   background-color: #0086af;
   color: #fff;
   margin-left: -1em;
}

#submitButton:hover {
   background-color: #fff;
   transition: .5s;
   border: solid 3px #0086af;
   cursor: pointer;
   color: #0086af;
}
